[200~# Compiled object files
*.o

# Executables
# HW1
# HW2
# HW3
# HW4
# HW5
# HW6
#
# # CUDA / build artifacts
# build/
# bin/
#
# # Temporary output images
# *.png
#
# # IDE files
# .vscode/
# .idea/
#
# # OS files
# .DS_Store
